body{
    font-family: 'Allerta Stencil', sans-serif;
    color: rgb(41, 1, 1);
    background-image: url("/farol.jpg");
    background-size: 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}

.container {
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
}

.box {
    border-radius: 10px;
    width:  700px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;

}