

.title{
    background-color: blue;
    text-align: center;
    color: white;
}

.questao{
    background-color: cornsilk;
    text-align: center;  
}

.opcao{
    background-color: darkblue;
    color: white;  
}

.title1{
    background-color: darkblue;
    color: white;
}

.questao1{
    
    background-color: blue;
    text-align: center;
    color: white;  
}

.opcao1{
    background-color: cornsilk;
    text-align: center;
}