

.title{
    background-color: blue;
    text-align: center;
    color: white;
}

.questao{
    background-color: cornsilk;
    text-align: center;  
}

.opcao{
    background-color: darkblue;
    color: white;  
}

.palha{
    background-color: darkblue;
    color: white;
}

.milho{
    
    background-color: blue;
    text-align: center;
    color: white;  
}

.sabugo{
    background-color: cornsilk;
    text-align: center;
}